<div class="container">
    <table border="2" cellpadding="10" cellspacing="3">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Assignee Name</th>
                <th>Due Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of Asanas | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{a.name}}</td>
                <td>{{a.assignee}}</td>
                <td>{{a.dueDate}}</td>
                <td>{{a.description}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
