<h1>Create your Task</h1>
<div class="container">
    <form (ngSubmit)="formSubmit()">
        <div class="label">
            <label for="name">Task Name</label>
        </div>
        <div class="input">
            <input type="text" [(ngModel)]="Asana.name" name="name" id="name" placeholder="Task here !!!">
        </div>
        <div class="label">
            <label for="assignee">Assignee Name</label>
        </div>
        <div class="input">
            <input type="text" [(ngModel)]="Asana.assignee" name="assignee" id="assignee" placeholder="Enter Assignee Name !!!">
        </div>
        <div class="label">
            <label for="date">Due Date</label>
        </div>
        <div class="date">
            <input type="date" [(ngModel)]="Asana.dueDate" name="dueDate" id="date">
        </div>
        <div class="label">
            <label for="description">Description</label>
        </div>
        <div class="input">
            <textarea [(ngModel)]="Asana.description" name="description" id="description"></textarea>
        </div>

        <div class="btn">
            <button type="submit">Create Task</button>
        </div>
    </form>
</div>

