h1{
    margin-left: 390px;
    margin-top: 2px;
}
.container{
    width: 700px;
    height: 600px;
    margin-top: 60px;
    margin-left: 200px;
    border: 3px solid aqua;
    background-color: rgb(205, 243, 243);
    border-radius: 5px;
}
.label{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.input input{
    margin-left: 100px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;
}
.date input{
    margin-left: 100px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;

}
.input textarea{
    
    margin-left: 100px;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;
}
.btn{
    margin-left: 100px;
    margin-top: 30px;
}
.btn button{
    margin-left: 10px;
    width: 380px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    background-color: rgb(33, 33, 224);
    color: #fff;
}
.btn button:hover{
    background-color: rgb(31, 31, 147);
}